{% load static %}   

<footer class="page-footer font-small blue-grey lighten-5">
        <div style="background-color: #13b999;">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">
                    <div class="col">
                        <h6 class="mb-0">Get connected with us on social networks!</h6>
                    </div>
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f white-text mr-4"> </i>
                        </a>
                        <a class="tw-ic" >
                            <i class="fab fa-twitter white-text mr-4"> </i>
                        </a>
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g white-text mr-4"> </i>
                        </a>
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in white-text mr-4"> </i>
                        </a>
                        <a class="ins-ic">
                            <i class="fab fa-instagram white-text"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center text-md-left mt-5">
            <div class="row mt-3 dark-grey-text">
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                    <h6 class="text-uppercase font-weight-bold">theblogwrite</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                    TheBlogWrite a platform where you can <strong>Read</strong> & <strong>Write</strong> need for you choice.
                    </p>
                </div>
                
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a class="dark-grey-text" href="{% url 'about_us' %}">About Us</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="{% url 'contact_us' %}">Contact Us</a>
                    </p>
                    
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-map-marker-alt mr-3"></i> Narayanpur, UP 277503, IN
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> dv49886@gmail.com</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> + 91 7905 995 419
                    </p>
                </div>
            </div>
        </div>
        <div class="font-small badge-secondary letter-spacing">
            <div class="footer-copyright text-center text-white-50 py-4 ">© 2020 Copyright:
                <a class="text-decoration-none text-white" href="https://theblogwrite.com/"> theblogwrite.com</a>
            </div>
        </div>
    </footer>