{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Password has been set Successful | Reset Password | theblogwrite{% endblock title %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-check-circle fa-4x"></i></h3>
            <h2 class="text-center font-weight-bolder">Your Password Has Been Set.</h2>
            <h5 class="text-center">You may go ahead and Sign In now.</h5>
           <a class="btn btn-sm btn-secondary font-weight-bolder " href="{% url 'signin' %}"> Sign In </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block footers %}
{% endblock footers %}
